<div class="container" align="center">
    <h1></h1>
    <% if logged_in? %>
      <%= link_to 'Add A Service', new_service_path, class: "btn btn-success" %>
    <% end %>
    <hr>
    <% @services.each do |service| %>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Category</th>
            <% if logged_in? %>
              <th>Actions</th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th><%= link_to "#{service.name}", service_path(service) %></th>
            <td><%= number_to_currency(service.price) %></td>
            <td>
              <% service.categories.each do |scat| %>
                <%= link_to "#{scat.name}", category_path(scat), class: "label label-default" %>
              <% end %>
            </td>
            <% if logged_in? %>
              <th>
                <%= link_to 'Edit', edit_service_path(service), class: "btn btn-primary" %>
                <%= link_to 'Delete', service_path(service), method: :delete, class: "btn btn-danger" %>
              </th>
            <% end %>
          </tr>
        </tbody>
      </table>
    <% end %>
</div>
