<div class="container">
  <%= form_for @post do |p| %>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">

        </div>
        <div class="panel-body">
          <div class="form-group">
            <%= p.label :title %>
            <%= p.text_field :title, class: "form-control", placeholder: "Title" %>
          </div>
          <hr>
          <div class="form-group">
            <%= p.label :description %>
            <%= p.text_area :description, class: "form-control", placeholder: "Description" %>
          </div>
          <hr>
            <%= p.submit 'Post', class: "btn btn-primary btn-success" %> <%= link_to 'Back', posts_path, class: "btn btn-primary btn-default" %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
