<div class="container" align="center">

  <h1>Bulletin Board</h1>
  <% if logged_in? %>
    <%= link_to new_post_path, class: "btn btn-primary btn-success" do %>
      Post to Bulletin Board |
      <i class="fa fa-plus-circle"></i>
    <% end %>
  <% end %>
</div>
<hr>
<div class="container" align="center">

<%= will_paginate @posts %>
  <div class="row">
    <% if @posts.length > 0 %>
    <% @posts.each do |p| %>
    <div class="col-sm-6 col-md-4">
      <div class="panel panel-default">

        <div class="panel-heading" align="center">
          
          <div>
            <h1 class="panel-title"><%= link_to "#{p.title}", post_path(p) %></h1>
            <small><%= time_ago_in_words(p.created_at) %> ago</small><br/>

          </div>
        </div>
        <div class="panel-body" align="center" >
          <p>
            <%= truncate(p.description, length: 200)  %><br/>
            <% if p.description.length > 200 %>
              <%= link_to "Read More", post_path(p), class: "label label-default" %>
            <% end %>
          </p>
          <hr>
          <small>by <%= link_to "#{p.user.username}", user_path(p.user) %></small>


          <% if p.comments.length > 0 %>

            <br/>
              <ul class="list-group">
                  <hr>
                  <button class="showcomments btn btn-default" align="center"> Show Comments </button>
                <% p.comments.each do |comment| %>
                  <li class="list-group-item showlist">
                        <% args= (comment.user == current_user) ? "danger" : "primary" %>
                        <small class="pull-left label label-<%= args %>"><%= comment.user.username %>:</small>
                        <small class="pull-right"><%= time_ago_in_words(comment.created_at) %> ago</small>
                        <br/>
                        <%= comment.description %>
                      <% if logged_in? && comment.user == current_user %>
                        <%= link_to 'delete', [p, comment], data: { confirm: 'Are you sure?'},
                                                            method: :delete,
                                                            class: "label label-danger comment-delete" %>
                      <% end %>
                  </li>
                <% end %>
              </ul>
          <% end %>

          <% if logged_in? %>
            <hr>
            <%= form_for [p, p.comments.build] do |c| %>
              <%= c.text_area :description, class: "form-control", placeholder: "What's your comment?" %>
              <br/>
              <%= c.submit 'Post Comment', class: "enterlist btn btn-default" %>
            <% end %>
          <% end %>

            <% if logged_in? && current_user == p.user %>
              <hr>
              <%= link_to 'Edit', edit_post_path(p), class: "btn btn-primary" %>
              <%= link_to 'Delete', post_path(p), method: :delete,
              data: { confirm: "Are you sure?" }, class: "btn btn-primary btn-danger" %>
            <% end %>
        </div>

      </div>
    </div>
    <% end %>
    <% else %>
      <h2>No posts yet.</h2>
    <% end %>

  </div>
  <%= will_paginate @posts %>

</div>
