<div class="container" align="center">
  <h1>Bulletin Board</h1>
  <% if logged_in? %>
    <%= link_to new_post_path, class: "btn btn-primary btn-success" do %>
      Post to Bulletin Board |
      <i class="fa fa-plus-circle"></i>
    <% end %>
  <% end %>
</div>
<hr>
<div class="container" align="center">

<%= will_paginate @posts %>
  <div class="row">
    <% if @posts.length > 0 %>
    <% @posts.each do |p| %>
    <div class="col-sm-6 col-md-4">
      <div class="panel panel-default">

        <div class="panel-heading" align="center">
          <div>

          </div>
          <div>
            <h1 class="panel-title"><%= link_to "#{p.title}", post_path(p) %></h1>
            <small><%= time_ago_in_words(p.created_at) %> ago</small><br/>

          </div>
        </div>
        <div class="panel-body" align="center" >
          <p>
            <%= truncate(p.description, length: 200)  %><br/>
            <% if p.description.length > 200 %>
              <%= link_to "Read More", post_path(p), class: "label label-default" %>
            <% end %>
          </p>
          <hr>
          <small>by <%= link_to "#{p.user.username}", user_path(p.user) %></small>

          <hr>
          <ul class="comments">
            <li>
              <%= p.comments.each do |comment| %>
                <small><%= comment.user.username %>:</small>
                <br/> <%= comment.description %>
              <% end %>
              </li>
          </ul>

          <%= form_for @new do |hey| %>
            <%= hey.text_field :description, class: "form-control", placeholder: "comment" %>
            <%= hey.submit 'Add comment', method: :post, class: "btn btn-default" %>
          <% end %>

            <% if logged_in? && current_user == p.user %>
          <hr>
            <%= link_to 'Edit', edit_post_path(p), class: "btn btn-primary" %>
            <%= link_to 'Delete', post_path(p), method: :delete,
            data: { confirm: "Are you sure?" }, class: "btn btn-primary btn-danger" %>
            <% end %>
        </div>

      </div>
    </div>
    <% end %>
    <% else %>
      <h2>No posts yet.</h2>
    <% end %>

  </div>
  <%= will_paginate @posts %>



</div>
